@charset "UTF-8";


@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

@font-face {
    font-family: 'bebasneue';
    src: url('fontes/bebasneue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



:root{
    --cor0:#83E1AF;
    --cor1:#3DDB87;
    --cor2:#2FA868;
    --cor3:#355C47;
    --cor4:#1A5C39;

    --fonte-destaque: 'bebasneue';
    --fonte-corpo: 'idroid';
    --fonte-padrão: arial, verdana, helvetica, sans-serif;
    
 
}

*{
    margin: 0px;
    padding: 0px;

}

a.externo::after{
    content: '\00A0\1F517';
}

body{
    background-color:#83E1AF ;
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 150px;
    color: white;
    font-family: var(--fonte-padrão);
    font-weight: normal;
    padding-top: 30px;
   
    
}

header > h1{
    margin-bottom: 20px;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.288);
    text-align: center;

}

header > p{
    font-family: var(--fonte-padrão);
    font-weight: normal;
    max-width: 500px;
    margin: auto;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.342);
    text-align: center;
    
}

nav{
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.164);
    margin-top: 20px;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    


}

nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor4);
    transition-duration: .5s;
}

main{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    font-family: var(--fonte-padrão);
    font-size: small;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    min-width: 260px;
    max-width: 808px;
    margin: auto;

}


main  h1{
    color: #1A5C39;
    font-family: var(--fonte-corpo);
    
}

main  h2{
    background-image: linear-gradient(to right, var(--cor0), transparent);
    color: #1A5C39;
    font-family: var(--fonte-corpo);
    padding: 2px;
    text-indent: 5px;
   
}

main strong{
    color: #1A5C39;
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: #1A5C39;
    
}

main a:hover{
    text-decoration: underline;
    background-color: #83E1AF;
    padding: 2px 6px;
    border-radius: 2px;
    

}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

img{
    display: block;
    margin: auto;
    max-width: 350px;

}


div.video{
    background-color: #1A5C39;
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 55.2%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: #3DDB87;
    padding:10px;
    border-radius: 10px;

}

aside > h3{
    background-color: #1A5C39;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; /* colocar margem negativa para ela ir para fora*/
    border-radius: 10px 10px 0px 0px;

}

aside > ul{
    list-style-type: '\1F5F8\00A0\00A0'; /*não é compativel com todos os navegadores */
    list-style-position: inside;
    columns: 2;

    
}

footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;

}

footer a:hover{
    color: #83E1AF;
    text-decoration: underline;
}
